name: End to End Test

on:
  push:
    branches:
    - main
    - test/**
  pull_request:
      branches:
      - main

jobs:
  end2endtest:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.4

    - name: Install Mage
      run: go install github.com/magefile/mage

    - name: Start containers
      run: docker-compose -f "build/docker-compose.yml" up -d --build

    - name: End To End Test
      run: mage integration

    - name: Stop containers
      if: always()
      run: docker-compose -f "build/docker-compose.yml" down