name: swagger-doc

on:
  push:
    branches:
      - main

jobs:
  push-swagger:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Update spec and push generated spec file
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.ref }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
    - run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git checkout main
        curl -X POST -H "Content-Type: application/json" -d '{}' $NETLIFY_DEPLOY_WEBHOOK
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NETLIFY_DEPLOY_WEBHOOK: ${{ secrets.NETLIFY_DEPLOY_WEBHOOK }}
